{% extends "base.njk" %}}

{% block content %}
    <section class="contacts">
        <div class="container  mt-3">
            {{ content | safe }}
        </div>
    </section>
{% endblock content %}