{% extends "layouts/homepage.njk" %}}
{% block postContent %}
  <section class="expertise">
    <div class="container">
      <div class="row">
        {% for items in collections.expertise %}
          <div class="col-md-4">
            <div class="expertise__card">
              <img src="{{ items.data.image }}" alt="area of work"/>
              <h5>{{ items.data.area }}</h5>
              <p>{{ items.data.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock postContent %}